/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
/* Grid breakpoints */
.headingLevel1--banner-title {
  margin: 0;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #fff;
}

.paragraph--banner-title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.headingLevel2--shoppingAdvantages-title {
  margin: 0;
  padding: 24px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #353535;
}

.headingLevel5--shopping-description {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #353535;
}

.paragraph--shopping-description {
  margin: 0;
  font-size: 12px;
  color: #000000;
}

.headingLevel2--brands-title {
  margin: 0;
  padding: 74px 0 17px;
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;
  color: #353535;
}

.headingLevel2--productList-title {
  margin: 0;
  padding: 80px 0 24px;
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;
  color: #353535;
}

.headingLevel5--title-developed {
  margin: 0;
  padding-bottom: 6px;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
}

.headingLevel4--titleLinks {
  margin: 0;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
  color: #353535;
}