/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
/* Grid breakpoints */
.element {
  height: 100%;
  padding: 0;
}
.element .priceContainer {
  padding: 0;
  align-items: flex-start;
}
.element .priceContainer .listPriceContainer {
  display: none;
}
.element .priceContainer .sellingPriceLabel {
  display: none;
}
.element .priceContainer .currencyContainer {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #353535;
}
.element .nameContainer {
  padding: 0 0 8px;
  text-align: start;
}
.element .nameContainer .nameWrapper {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.element .description {
  padding: 0 0 8px;
  font-size: 12px;
  line-height: 18px;
  text-align: start;
  color: #000000;
  opacity: 0.5;
  overflow: auto;
}
.element .buyButtonContainer {
  flex: 1;
  display: flex;
  align-items: end;
  padding: 0;
}
.element .buyButtonContainer .buyButton {
  margin: 0;
  width: 100%;
}
.element .buyButtonContainer .buyButton :global(.vtex-button) {
  background-color: #800073 !important;
  border: 0;
  border-radius: 0.5rem;
}
.element .buyButtonContainer .buyButton .buyButtonText {
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
}