/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
/* Grid breakpoints */
.sliderLayoutContainer--carousel-image-banner :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  padding-left: 80px;
}
.sliderLayoutContainer--carousel-image-banner :global(.vtex-slider-layout-0-x-sliderRightArrow) {
  padding-right: 80px;
}
.sliderLayoutContainer--carousel-image-banner :global(.vtex-slider-layout-0-x-paginationDotsContainer) {
  padding-bottom: 24px;
}
.sliderLayoutContainer--carousel-image-banner :global(.vtex-slider-layout-0-x-paginationDotsContainer) .paginationDot {
  margin-right: 16px;
  margin-left: 0;
  width: 16px !important;
  height: 16px !important;
  background-color: transparent;
  border: 1px solid #800073 !important;
}
.sliderLayoutContainer--carousel-image-banner :global(.vtex-slider-layout-0-x-paginationDotsContainer) .paginationDot--isActive {
  background-color: #800073 !important;
}

.sliderLayoutContainer--shoppingAdvantages-container {
  padding: 0 80px;
}
.sliderLayoutContainer--shoppingAdvantages-container .sliderTrack--shoppingAdvantages-container {
  gap: 15px;
}
.sliderLayoutContainer--shoppingAdvantages-container .slide--shoppingAdvantages-container {
  width: 308px !important;
}
.sliderLayoutContainer--shoppingAdvantages-container .slideChildrenContainer--shoppingAdvantages-container {
  padding: 16px 20px;
  justify-content: flex-start;
  background-color: #EFEFEF;
  border-radius: 4px;
}

.sliderLayoutContainer--partner-brands {
  padding: 0 80px;
}
.sliderLayoutContainer--partner-brands .sliderTrack--partner-brands {
  gap: 15px;
}

.sliderLayoutContainer--list-products .sliderTrack--list-products {
  gap: 15px;
}