/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
/* Grid breakpoints */
.headerRowContainer--header-apresentation {
  padding: 21px 80px;
  justify-content: space-between;
}

.headerRowContainer--header-links {
  padding: 17px 80px;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.815);
}