/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Colors */
/* Grid breakpoints */
.flexRow--banner {
  position: relative;
}

.stretchChildrenWidth {
  width: 100%;
}

.flexCol--information-promotion {
  position: absolute;
  top: calc(210px / 2);
  left: calc(323px / 2);
}
.flexCol--information-promotion .flexColChild--information-promotion {
  height: auto !important;
}

.slide--carousel-image-banner {
  width: 100%;
}
.slide--carousel-image-banner .stretchChildrenWidth {
  width: 100%;
}

.flexRowContent--shopping-advantages {
  align-items: flex-start;
  gap: 13px;
}

.flexRow--footer-bottom {
  padding: 19px 80px;
  background-color: #353535;
}
.flexRow--footer-bottom .flexRowContent--footer-bottom {
  align-items: center;
  justify-content: space-between;
}
.flexRow--footer-bottom .flexRowContent--footer-bottom .stretchChildrenWidth {
  width: fit-content !important;
}
.flexRow--footer-bottom .flexRowContent--container-images, .flexRow--footer-bottom .flexRowContent--developed-footer {
  justify-content: flex-start;
  gap: 22px;
}

.flexRowContent--footer-links {
  padding: 0 284px 64px;
  justify-content: space-between;
}
.flexRowContent--footer-links .stretchChildrenWidth {
  width: fit-content !important;
}

.flexCol--links-container {
  align-items: start;
  width: fit-content;
}

.flexColChild--links-container {
  margin: 0;
  height: auto !important;
}